.select .main {
    display: inline-block;
    min-width: 50px;
    min-height: 20px;
    border: 1px solid black;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 2px;
}

.item.selected {
    background-color: blue;
    color: white;
}


.div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 30%;
}

.child {
    flex-direction: row;
}